<div class="container">
<div class="d-flex flex-column align-items-center justify-content-center">
  <img src="assets/img/logo.png" alt="" style="width: 300px;">
</div>
<div class="d-flex flex-wrap align-items-center justify-content-center">
  <button class="btnCard" routerLink="/mesas">
    <div class="card">
      <div class="card-details">
        <p class="text-title">Mesas</p>
        <p class="text-body">Consulta las mesas y su comanda</p>
      </div>
    </div>
  </button>
  <button class="btnCard" data-bs-toggle="modal" data-bs-target="#bebidaModal">
    <div class="card">
      <div class="card-details">
        <p class="text-title">Bebidas</p>
        <p class="text-body">Consulta todos las bebidas disponibles</p>
      </div>
    </div>
  </button>
  <button class="btnCard" data-bs-toggle="modal" data-bs-target="#comidaModal">
  <div class="card">
    <div class="card-details">
      <p class="text-title">Comida</p>
      <p class="text-body">Consulta todos los platos disponibles</p>
    </div>
  </div>
</button>
<button class="btnCard" routerLink="/ingresos">
  <div class="card">
    <div class="card-details">
      <p class="text-title">Ingresos</p>
      <p class="text-body">Consulta los ingresos</p>
    </div>
  </div>
</button>
</div>

<div class="modal fade" id="bebidaModal" tabindex="-1" aria-labelledby="bebidaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="bebidaModalLabel">Selecciona una opción</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
        <h3>Lista</h3>
        <button class="btn btn-primary" data-bs-dismiss="modal" routerLink="/bebidas">Ver lista de todas las bebidas</button>
        </div>
        <div>
          <h3>Por categorías</h3>
          <button class="btnCard" routerLink="/bebidas/café" data-bs-dismiss="modal">
            <div class="card">
              <div class="card-details">
                <p class="text-title">Café</p>
                <p class="text-body">Consulta todos los cafés</p>
              </div>
            </div>
          </button>
          <button class="btnCard" routerLink="/bebidas/cervezas" data-bs-dismiss="modal">
            <div class="card">
              <div class="card-details">
                <p class="text-title">Cervezas</p>
                <p class="text-body">Consulta todos las cervezas</p>
              </div>
            </div>
          </button>
          <button class="btnCard" routerLink="/bebidas/bebidas_sin_alcohol" data-bs-dismiss="modal">
            <div class="card">
              <div class="card-details">
                <p class="text-title">Bebidas sin alcohol</p>
                <p class="text-body">Consulta todas las bebidas sin alcohol</p>
              </div>
            </div>
          </button>
          <button class="btnCard" routerLink="/bebidas/vinos" data-bs-dismiss="modal">
            <div class="card">
              <div class="card-details">
                <p class="text-title">Vinos</p>
                <p class="text-body">Consulta todas los vinos</p>
              </div>
            </div>
          </button>
          <button class="btnCard" routerLink="/bebidas/bebidas_alcohólicas" data-bs-dismiss="modal">
            <div class="card">
              <div class="card-details">
                <p class="text-title">Bebidas alcohólicas</p>
                <p class="text-body">Consulta todas las bebidas alcohólicas</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="comidaModal" tabindex="-1" aria-labelledby="comidaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="comidaModalLabel">Selecciona una opción</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
        <h3>Lista</h3>
        <button class="btn btn-primary" data-bs-dismiss="modal" routerLink="/comida">Ver lista de todas las comidas</button>
        </div>
        <div>
          <h3>Por categorías</h3>
          <button class="btnCard" routerLink="/comida/para_picar" data-bs-dismiss="modal">
            <div class="card">
              <div class="card-details">
                <p class="text-title">Para picar</p>
                <p class="text-body">Consulta todos los platos para picar</p>
              </div>
            </div>
          </button>
          <button class="btnCard" routerLink="/comida/bocadillos" data-bs-dismiss="modal">
            <div class="card">
              <div class="card-details">
                <p class="text-title">Bocadillos</p>
                <p class="text-body">Consulta todos los bocadillos</p>
              </div>
            </div>
          </button>
          <button class="btnCard" routerLink="/comida/hamburguesas" data-bs-dismiss="modal">
            <div class="card">
              <div class="card-details">
                <p class="text-title">Hamburguesas</p>
                <p class="text-body">Consulta todos las hamburguesas</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
