<div class="d-flex flex-wrap justify-content-center">
  <div *ngFor="let mesa of listaMesas">
    <button class="btnCard" routerLink="/mesas/{{mesa.id}}" (click)="newComanda(mesa)">
      <div class="card">
        <div class="card-details">
          <div *ngIf="mesa.id <= 10;then nMesa else ventana "></div>
          <div *ngIf="mesa.comanda_id == null;then desocupado else ocupado "></div>
          <ng-template #nMesa>
            <p class="text-title">Mesa {{mesa.id}}</p>
          </ng-template>
          <ng-template #ocupado>
            <p class="text-body"></p>
          </ng-template>
          <ng-template #desocupado>
            <p class="text-body">Libre</p>
          </ng-template>
          <ng-template #ventana>
            <p class="text-title">Ventana {{checkVentana(mesa.id)}}</p>
          </ng-template>
        </div>
      </div>
    </button>
  </div>
</div>
