/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(0deg, #ffffffb2 0%, #ffffffe1 100%), url("https://img.freepik.com/free-vector/wood-vector-texture-template-pattern-seamless-material-hardwood-floor-natural-light-parquet-vector-illustration_1284-47074.jpg?w=2000");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.btnCard{
  border: 0;
  background-color: transparent;
}


.indexBtn{
  background-color: #5c4f451f;
  border: 3px  solid #5e3500;
  border-radius: 8px;
  fill: #5e3500;
}
.iconMenu{
  width: 32px;
  height: 32px;
  fill: #5e3500;
}
.indexBtn:hover{
  background-color: rgb(92, 79, 69);
  border: 3px  solid #bead9f;
  border-radius: 8px;
  fill: #bead9f;
}
.indexBtn:hover .iconMenu {
  fill: #bead9f;
}

.card {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }

 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }

 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }

 .text-body {
  color: rgb(134, 134, 134);
 }

 /*Text*/
 .text-title {
  font-size: 1.0em;
  font-weight: bold;
 }

 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }

 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }